@media only screen and (max-width : 1024px){
    nav ul li a,.footer_nav ul li a {padding: 0px 87px;}
}
@media only screen and (max-width:1000px){
    nav ul, .footer_nav ul{padding:10px;}
    nav ul li, .footer_nav ul li{width: 49%;border:1px solid #fff; margin:1px;}
    nav ul li a:hover, .footer_nav ul li a:hover { border-radius: 0;}
    .active { border-radius:0; color:#fff;}
}
@media only screen and (max-width:600px){
    .nav_toggle_button{ display:block;height: 70px;}
    nav {display:none;}
    .hamburger {float: right;}
    nav ul li, .footer_nav ul li{width: 100%; border:1px solid #fff; margin:1px;}
    .php_version {width:100%;}
    .logout_button {text-align: left;width: 100%; top:0;}
}
@media only screen and (max-width:400px){
    .logout_button {float:none; top:0px;}
}